::before,
::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

.header,
.header-left,
.header-right ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.header {
  width: 100vw;
  background-color: #1f2937;
  justify-content: space-around;
}

.header-left h1 {
  font-size: 24px;
  color: #e5e7eb;
}

.header-right {
  font-size: 18px;
  color: #f9faf8;
}

.main1 {
  padding-top: 50px;
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  padding-bottom: 100px;
  width: 100vw;
  align-items: center;
  gap: 7px;
}

.left-main1 {
  display: flex;
  flex-direction: column;
  width: 31%;
  align-items: center;
  justify-content: center;
}

.left-main1 button {
  align-self: flex-start;
  width: 75px;
  background-color: #3882f6;
  border-radius: 7px;
  padding: 5px;
  margin-top: 10px;
  font-weight: 700;
  color: #f9faf8;
  border: hidden;
}

.left-main1,
.right-main1 {
  font-size: 18px;
  color: #e5e7eb;
}

.left-main1 h2 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.right-main1 {
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
}

.main2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main2 h2 {
  padding-top: 20px;
  text-align: center;
}

.image-line {
  display: flex;
  padding: 30px;
  display: flex;
  gap: 10px;
}
.box {
  border: 2px solid blue;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.box-text {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8rem;
}

.main3 {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.main3-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main3-text {
  display: inline;
  width: 500px;
  padding: 30px 0 0 0;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

#thor {
  text-align: center;
  align-self: flex-end;
  font-weight: 700;
  padding-bottom: 50px;
}

.main4 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex: 1;
  width: 75vw;
}
.main4-content {
  background-color: #3882f6;
  width: 60vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 50px;
  border-radius: 5px;
}

.main4 p {
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
}

.main4 h2 {
  align-self: flex-start;
  text-align: center;
}

.main4 button {
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  width: 85px;
  height: 25px;
  padding: 5px;
}

.footer {
  width: 100vw;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #e5e7eb;
}
